//BReakpoints

$pk-breakpoint-sm: 576px !default;
$pk-breakpoint-md: 768px !default;
$pk-breakpoint-lg: 992px !default;
$pk-breakpoint-xl: 1200px !default;
$pk-breakpoint-xxl: 1400px !default;

$pk-breakpoints: (
  sm: $pk-breakpoint-sm,
  md: $pk-breakpoint-md,
  lg: $pk-breakpoint-lg,
  xl: $pk-breakpoint-xl,
  xxl: $pk-breakpoint-xxl
) !default;