@use 'colors' as *;
@use 'variables' as *;


// MAPS

$pk-theme-colors: (
  'primary': $pk-primary,
  'secondary': $pk-secondary,
  'accent': $pk-accent,
  'success': $pk-success,
  'danger': $pk-danger,
  'warning': $pk-warning,
  'info': $pk-info,
  'dark': $pk-dark,
  'light': $pk-light,
  'white': $pk-white,
  'black': $pk-black
);

$pk-grays: (
  '100': $pk-gray-100,
  '200': $pk-gray-200,
  '300': $pk-gray-300,
  '400': $pk-gray-400,
  '500': $pk-gray-500,
  '600': $pk-gray-600,
  '700': $pk-gray-700,
  '800': $pk-gray-800,
  '900': $pk-gray-900
);

$pk-spacers: (
  '0': 0,
  '1': $pk-space-1,
  '2': $pk-space-2,
  '3': $pk-space-3,
  '4': $pk-space-4,
  '5': $pk-space-5,
  '6': $pk-space-6,
  '8': $pk-space-8,
  '10': $pk-space-10,
  '12': $pk-space-12
);

$pk-container-widths: (
  'sm': $pk-container-sm,
  'md': $pk-container-md,
  'lg': $pk-container-lg,
  'xl': $pk-container-xl,
  'xxl': $pk-container-xxl
);