@use '../abstracts/maps' as *;
@use '../abstracts/mixins' as *;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.row > * {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.col {
  flex: 1 0 0%;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    flex: 0 0 auto;
    width: percentage($i / 12);
  }
}

@each $breakpoint, $value in $pk-breakpoints {
  @include pk-media-up($breakpoint) {
    .col-#{$breakpoint} {
      flex: 1 0 0%;
    }

    @for $i from 1 through 12 {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 auto;
        width: percentage($i / 12);
      }
    }
  }
}