@use 'sass:math';
@use '../abstracts/variables' as *;
@use '../abstracts/breakpoints' as bp;
@use '../abstracts/mixins' as mx;

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: math.div(-$pk-grid-gutter, 2);
  margin-right: math.div(-$pk-grid-gutter, 2);
}

.row > * {
  padding-left: math.div($pk-grid-gutter, 2);
  padding-right: math.div($pk-grid-gutter, 2);
}

.col {
  flex: 1 0 0%;
}

@for $i from 1 through $pk-grid-columns {
  .col-#{$i} {
    flex: 0 0 auto;
    width: math.percentage(math.div($i, $pk-grid-columns));
  }
}

@each $breakpoint, $value in bp.$pk-breakpoints {
  @include mx.pk-media-up($breakpoint) {
    .col-#{$breakpoint} {
      flex: 1 0 0%;
    }

    @for $i from 1 through $pk-grid-columns {
      .col-#{$breakpoint}-#{$i} {
        flex: 0 0 auto;
        width: math.percentage(math.div($i, $pk-grid-columns));
      }
    }
  }
}