@use '../abstracts/maps' as *;

.pk-badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.35em 0.65em;
  font-size: var(--pk-font-size-sm);
  font-weight: 700;
  line-height: 1;
  border-radius: var(--pk-radius-sm);
}

.pk-badge-pill {
  border-radius: var(--pk-radius-pill);
}

@each $name, $color in $pk-theme-colors {
  .pk-badge-#{$name} {
    background-color: $color;
    color: #ffffff;
  }
}