@use '../abstracts/maps' as *;
@use '../abstracts/mixins' as *;

.pk-btn {
  @include pk-button-base;

  padding: 0.625rem 1rem;
  font-size: var(--pk-font-size-md);
}

.pk-btn-sm {
  padding: 0.4rem 0.75rem;
  font-size: var(--pk-font-size-sm);
}

.pk-btn-lg {
  padding: 0.8rem 1.25rem;
  font-size: var(--pk-font-size-lg);
}

@each $name, $color in $pk-theme-colors {
  .pk-btn-#{$name} {
    @include pk-button-solid($color);
  }

  .pk-btn-outline-#{$name} {
    @include pk-button-outline($color);
  }
}