@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

//IMPORTANTE: este archivo hace las variables del root tipo css
:root {
  // Colores
  --pk-primary: #{$pk-primary};
  --pk-primary-light: #{$pk-primary-light};
  --pk-primary-dark: #{$pk-primary-dark};

  --pk-secondary: #{$pk-secondary};
  --pk-secondary-light: #{$pk-secondary-light};
  --pk-secondary-dark: #{$pk-secondary-dark};

  --pk-accent: #{$pk-accent};
  --pk-accent-light: #{$pk-accent-light};
  --pk-accent-dark: #{$pk-accent-dark};

  // Neutros
  --pk-dark: #{$pk-dark};
  --pk-light: #{$pk-light};
  --pk-white: #{$pk-white};
  --pk-black: #{$pk-black};

  // Grises
  --pk-gray-100: #{$pk-gray-100};
  --pk-gray-200: #{$pk-gray-200};
  --pk-gray-300: #{$pk-gray-300};
  --pk-gray-400: #{$pk-gray-400};
  --pk-gray-500: #{$pk-gray-500};
  --pk-gray-600: #{$pk-gray-600};
  --pk-gray-700: #{$pk-gray-700};
  --pk-gray-800: #{$pk-gray-800};
  --pk-gray-900: #{$pk-gray-900};

  // De estado
  --pk-success: #{$pk-success};
  --pk-danger: #{$pk-danger};
  --pk-warning: #{$pk-warning};
  --pk-info: #{$pk-info};

  // Tipografia
  --pk-font-sans: #{$pk-font-sans};
  --pk-font-mono: #{$pk-font-mono};

  --pk-font-size-xs: #{$pk-font-size-xs};
  --pk-font-size-sm: #{$pk-font-size-sm};
  --pk-font-size-md: #{$pk-font-size-md};
  --pk-font-size-lg: #{$pk-font-size-lg};
  --pk-font-size-xl: #{$pk-font-size-xl};
  --pk-font-size-2xl: #{$pk-font-size-2xl};
  --pk-font-size-3xl: #{$pk-font-size-3xl};

  // Radios
  --pk-radius-sm: #{$pk-radius-sm};
  --pk-radius-md: #{$pk-radius-md};
  --pk-radius-lg: #{$pk-radius-lg};
  --pk-radius-xl: #{$pk-radius-xl};
  --pk-radius-pill: #{$pk-radius-pill};

  // Sombras
  --pk-shadow-sm: #{$pk-shadow-sm};
  --pk-shadow-md: #{$pk-shadow-md};
  --pk-shadow-lg: #{$pk-shadow-lg};

  // Transición
  --pk-transition-fast: #{$pk-transition-fast};
  --pk-transition-base: #{$pk-transition-base};
  --pk-transition-slow: #{$pk-transition-slow};
}